body {
    background-color: #191515;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

main {
    padding-left: 10px;
    padding-right: 10px;
}

.filter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 44px;
}

ul {
    list-style: none;
    padding: 0;
}

.filter__button{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    
}


.filter__button-group{
    display: inline-block;
       background: #26BF60;
        border-radius: 4px;
        color: #202125;
        width: 88px;
        height: 30px;
        font-size: 16px;
        margin: 2px;
        border: 0;
        box-shadow: #000000;
        font-family: 'Poppins', sans-serif;
        }


.filter h3 {
    color: #FFD600;
    font-size: 22px;
    margin: 0;
    padding: 12 0;

}


.info{
    color: #979A9C;
    background-color: #2F3539;
    height: 20px;
    border-radius: 4px;
    list-style: none;
    margin: 0%;
    max-width: 600px;
    margin: auto;
}

.info__box {
    display: flex;
}

.info__box li{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 33.3%;
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    }
    
.card {
    width: 100%;
    max-width: 600px;
    margin: auto;
    height: 69px;
}

.card__title{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 22px;
}

.card__flag{
    background-image: url(img/england.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 30px;
    background-color: #1EB53A;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.card__flag-2{
    background-image: url(img/tanzania.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 30px;
    background-color: #1EB53A;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.card__flag-3{
    background-image: url(img/ecuador.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 30px;
    background-color: #1EB53A;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.card__ligue{
    height: 22px;
    text-align: center;
    color: #FFD600;
    font-weight: normal;
    font-size: 14px;
    margin: 0%;
    padding: 2px 2px;
}

.block__content{
    display: flex;
    margin: 0;
    line-height: 10px;
    width: 100%;
}

.block{
    background-color: #2E353D;
    border-radius: 4px;
    margin-bottom: 10px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block:nth-child(2n){
    background-color: #1D252A;
}

.block__content li{
    font-size: 13px;
}

.block__date-info{
    width: 25%;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 4px;
}

.block__date{
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
}

.block__hour{
    display: flex;
    text-align: center;
    align-items: center;
}

.block__time{
    font-size: 15px;
    color: #969A9E;
    font-weight: 500;
    padding: 4px;
    text-align: center;
    align-items: center;
}


.calendar{
    background: url("./img/spritesicon.png");
    width:18px;
    height:18px;
    display: block;
    margin: 0;
    background-position: 0 89px;
    background-size: 18px;
}

.hour{
    background: url("./img/spritesicon.png") 0 132px;
    width: 18px;
    height: 18px;
    margin: 0;
    display: block;
    background-position: 0 0;
    background-size: 18px;
}

.block__match{
    width: 50%;
    line-height: 16px;
    color: ivory;
    font-size: 12px;
}

.block__teams{
    display: flex;
    padding: 0;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content:center;
}

.block__teams li:nth-child(1){
    text-align: right;
    width: 45%;
}

.block__teams li:nth-child(3){
    text-align: left;
    width: 45%;
}

.block__teams li{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}

.block__teamwinner{
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
}

.block__vs{
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block__scoreboard{
    width: 25%;
    margin: 0;
    display: inline-block;
    text-align: right;
    padding: 0;
    color: ivory;
    text-shadow: #000000;
}

.block__score{
    padding: 2px 0;
}

.block__mapumziko {
    font-size: 9px;
    font-weight: 300;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-left: 10px;
}

.block__dakiko90{
    font-size: 9px;
    font-weight: 300;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-left: 10px;
}

.block__mapumziko-result{
    font-weight: 600;
    line-height: 14px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-left: 10px;
}

.block__dakiko90-result{
    font-weight: 600;
    line-height: 14px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-left: 10px;
}

@media screen and (max-width: 320px) {

.block__content{
    display: block;
}
.block{
    min-height: 80px;
    height: auto;
}

.block__date-info{
    width: 100%;
    justify-content: center;
}

.block__date{
    margin-right: 10px;
    margin-bottom: 0;
}

.block__time{
    display: flex;
    padding: 0;
    list-style: none;
}

.block__match{
    width: 100%;
}

.block__teams{
    height: 0;
    padding: 10px;
}

.block__scoreboard{
    width: 95%;
}

.block__score{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

}